body {
	background:#f9f9f9;	
}

.header-block {
	width:600px;
	border: 1px solid #c1c1c1;
	margin : 0 auto;
	margin-bottom : 10px;
	padding:5px;
}

.header-block input[type="button"] {
	padding:5px 10px;
}

.header-block select {
	padding:5px 10px;
	min-width:100px;
}

.wrappper {
	width:600px;
	min-height:250px;
	border: 1px solid #c1c1c1;
	margin : 0 auto;
	padding:5px;
	background:#fff;	
}

